.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }

  .width-and-height {
    height: 50px;
    width: 50px;
  }

  .padding {
  /* insira aqui um padding de 20px na classe abaixo para aplicá-lo aos itens B, C e D */
  padding: 20px;
  }

  .margin {
  /* insira aqui uma margem de 30px na classe abaixo para aplicá-la aos itens C e D */
  margin: 30px;
  }

  .border {
  /* insira aqui uma borda com valor '5px solid black' para aplicá-la ao item D */
  border: 5px solid black;
  }

  p, 
ul {
  border: 2px solid rebeccapurple;
  padding: .5em;
  margin-right: 30%;
  

}

.block
li {
  border: 2px solid blue;
  padding: .5em;
  display: inline;
  
}

ul {
  display: flex;
  list-style: none;
}


.box{

    
  line-height: 150px;
  text-align: center;
  display: inline-block;
  color: white;
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 25px;
  border: 5px solid black;
}
